<h1>Create new Snack</h1>

<% @snack.errors.full_messages.each do |message| %>
  <%= message %><br/>
<% end %>

<%= form_for @snack do |f| %>

  <div>
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :photo_url %>
    <br/>
    <%= f.text_field :photo_url %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
